<mat-card>
    <mat-card-header style="justify-content: space-around; margin-bottom: 3rem;">
        <mat-card-title style="width: 25rem; height: 100%; display: flex; flex-direction: column; align-items: space-between; justify-content: space-between; " >
            <div style="margin: 2rem; margin-left: 1rem;">
                <div style="font-weight: 400;">Hello, I'm</div>   
                <h2 style="color: rosybrown; font-style: oblique; margin: 2rem; margin-top: 1rem;">Xuyen Nguyen.</h2>   
                <mat-divider [inset]="true"></mat-divider>
            </div>
            <div style="width: 100%;  margin-right: 2rem; text-align: right; align-self: flex-end;">
                    <mat-chip style="margin-bottom: 5px;">Full-time software engineer 👩‍💻</mat-chip>
                    <mat-chip style="margin-bottom: 5px;">Part-time game developer 🎮</mat-chip>
                    <mat-chip style="margin-bottom: 5px;">Occasional creative artist 🎨</mat-chip>
                    <mat-chip style="margin-bottom: 5px;">Recreational language learner 📚</mat-chip>
                    <mat-chip style="margin-bottom: 5px;">Aspirational machine learning researcher 🤖</mat-chip>
                    <mat-chip style="margin-bottom: 5px;">Absolutely <span style="color: palevioletred; font-weight: 700; align-self: end;">NOT</span> a pink lover 😤</mat-chip>
            </div>
            <div style="text-align: center; font-weight: lighter; font-size: medium;">
               <p>
                "<span style="font-style: oblique;font-weight: bold;">Motivation</span> is essentially <span style="font-weight: bold; font-style: oblique;">momentum</span>. 
               Start taking action <span>now</span>, and motivation will follow, driving you forward."
               </p>
            </div>
        </mat-card-title>
        <div style="width: 25rem; height: auto;  display: flex; justify-content: center; align-items: end; position: relative;">
            <div style="position: absolute; color: black;
            text-shadow:
            -2px -2px 0 white,
            2px 2px 0 wheat;
            padding-bottom: 1rem;
            font-family: Arial, Helvetica, sans-serif;"
            >
            <h1>Hue, Vietnam</h1>
            <h3>July, 2023</h3>
        </div>
        <img width="100%" src="images/Hue-ao-dai-old-sticker-style.png" />
    </div>
</mat-card-header>
<mat-card-content>
    <mat-divider></mat-divider>
    <div>
        
    
    </div>
    <span class="section-title">ABOUT ME</span>
        <mat-divider></mat-divider>
        
    </mat-card-content>
</mat-card>