@use "@angular/material" as mat;

@mixin theme($theme) {
  mat-card.container {
    background-color: mat.get-theme-color($theme, inverse-on-surface);
  }
  
  .container mat-card {
    background-color: mat.get-theme-color($theme, background);
  }
  
  .container mat-card:hover {
    background-color: mat.get-theme-color($theme, background);
  }
  
  button[mat-fab], button[mat-mini-fab] {
    background-color: mat.get-theme-color($theme, tertiary);
    color:  mat.get-theme-color($theme, on-tertiary);
  }
  
  mat-divider {
    border: 1px solid mat.get-theme-color($theme, outline-variant);
  }
  .my-name {
    color: mat.get-theme-color($theme, primary);
  }
}
