<mat-card>
    <mat-card-header style="justify-content: space-around;">
        <mat-card-title style="width: 25rem; height: 100%; display: flex; flex-direction: column; align-items: start; justify-content: space-evenly; " >
            <div>
                <h4 style="color: black">Hello, I'm</h4>   
            <h2 style="color: rosybrown; font-style: oblique;">Xuyen Nguyen.</h2>   
            <mat-divider [inset]="true"></mat-divider>
            </div>
            <div style="width: 60%;  margin: 1rem; text-align: left; align-self: flex-end;">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum nostrum harum dolore, quaerat dolor voluptate expedita error magni consequuntur omnis. Ut nostrum accusantium cupiditate eaque architecto praesentium ratione sit natus?
            </div>
            
        </mat-card-title>
        <div style="width: 25rem; height: auto;  display: flex; justify-content: center; align-items: end; position: relative;">
            <div style="position: absolute; color: black;
            text-shadow:
            -2px -2px 0 white,
            2px 2px 0 wheat;
            padding-bottom: 1rem;
            font-family: Arial, Helvetica, sans-serif;"
            >
                <h1>Hue, Vietnam</h1>
            <h3>July, 2023</h3>
            </div>
            <img width="100%" src="images/Hue-ao-dai-old-sticker-style.png" />
        </div>
    </mat-card-header>
    <mat-card-content>
        
    </mat-card-content>
</mat-card>