<mat-card style="max-width: 70rem;">
    <mat-card-header style="justify-content: space-around; margin-bottom: 3rem;">
        <mat-card-title style="width: 25rem; height: 100%; display: flex; flex-direction: column; " >
            <div style="margin: 2rem; margin-left: 1rem;">
                <div style="font-weight: 400;">Hello, I'm</div>   
                <h2 style="color: rosybrown; font-style: oblique; margin: 2rem; margin-top: 1rem;">Xuyen Nguyen.</h2>   
                <mat-divider [inset]="true"></mat-divider>
            </div>
            <div style="display: flex; flex-direction: column; justify-content: space-between; height: 100%;">
                <div style="width: 100%;  margin-right: 2rem; text-align: right; align-self: flex-end;">
                    <mat-chip style="margin-bottom: 5px;">Full-time software engineer 👩‍💻</mat-chip>
                    <mat-chip style="margin-bottom: 5px;">Part-time game developer 🎮</mat-chip>
                    <mat-chip style="margin-bottom: 5px;">Occasional creative artist 🎨</mat-chip>
                    <mat-chip style="margin-bottom: 5px;">Recreational language learner 📚</mat-chip>
                    <mat-chip style="margin-bottom: 5px;">Aspirational machine learning researcher 🤖</mat-chip>
                    <mat-chip style="margin-bottom: 5px;">Absolutely <span style="color: palevioletred; font-weight: 700; align-self: end;">NOT</span> a pink lover 😤</mat-chip>
            </div>
            <div style="text-align: center; font-weight: lighter; font-size: medium;">
               <p>
                "<span style="font-style: oblique;font-weight: bold;;">Motivation</span> is essentially <span style="font-weight: bold; font-style: oblique;">momentum</span>. 
               Start taking action <span>now</span>, and motivation will follow, driving you forward."
               </p>
            </div>
            </div>
        </mat-card-title>
        <div style="width: 25rem; height: auto;  display: flex; justify-content: center; align-items: end; position: relative;">
            <div style="position: absolute; color: black;
            text-shadow:
            -2px -2px 0 white,
            2px 2px 0 wheat;
            padding-bottom: 1rem;
            font-family: Arial, Helvetica, sans-serif;"
            >
            <h1>Hue, Vietnam</h1>
            <h3>July, 2023</h3>
        </div>
        <img width="100%" src="images/Hue-ao-dai-old-sticker-style.png" />
    </div>
</mat-card-header>
<mat-card-content>
    <div style="margin: 0.5rem; font-size: small;">
        <span style="font-weight: bold;">ABOUT ME</span>
    </div>
    <mat-card style="background-color: white; margin-bottom: 2rem">
        <mat-card-content >
            <p style="margin-top:0">I am a self-learner at heart. I have taught myself various new skills from speaking Japanese to building websites to knitting. As much as I value formal education, I believe that the ability to teach myself is a powerful asset in its own right.</p>
            
           <p>This belief guided me throughout my years studying computer science, inspiring me to build many educational tools such as ASL Alphabet Learning, Chinese Typing Practice, Class Schedule Builder, etc. One of my proudest moments was when my Capstone team won 3rd place for the most outstanding project with our Signable app—an application designed to teach the ASL alphabet. After this achievement, I felt very hopeful about the potential of AI and Machine Learning (AI/ML) in revolutionize learning and skills acquistion. Therefore, I plan to go back to school for a Master's Degree in AI/ML to deepen my expertise in these fields.</p>
            
            <p>Outside of work and study, I enjoy drawing and 3D modeling. I also love outdoor activities like hiking, rollerblading, and swimming. While I’m not a heavy gamer, I thoroughly enjoy playing games with friends. Some of my favorite titles are The Sims 4, Monster Hunter Rise, Animal Crossing: New Horizons, and Don't Starve Together.</p>
            
        </mat-card-content>
    </mat-card>
    <div style="margin: 0.5rem; font-size: small;">
        <span style="font-weight: bold;">EDUCATION</span>
    </div>
    <mat-card style="background-color: white; margin-bottom: 2rem">
        <mat-card-content style="display: flex; justify-content: space-between;">
            <div>
                <div>University of Utah</div>
                <div>Degree: Bachelor of Science in Computer Science</div>
            </div>
            <div>
                <div>Salt Lake City, Utah</div>
                <div>Graduated: May 2024</div>
            </div>
        </mat-card-content>
    </mat-card>
    <div style="margin: 0.5rem; font-size: small;">
        <span style="font-weight: bold;">TECHNICAL SKILLS</span>
    </div>
    <mat-card style="background-color: white; margin-bottom: 2rem">
        <mat-card-content >
            <div class="skills">
                <button style="margin-right: 0.5rem; margin-bottom: 0.5rem; cursor: default;" mat-stroked-button>Web Development</button>
                <button style="margin-right: 0.5rem; margin-bottom: 0.5rem; cursor: default;" mat-stroked-button>Machine Learning</button>
                <button style="margin-right: 0.5rem; margin-bottom: 0.5rem; cursor: default;" mat-stroked-button>Artifitial Intelligence</button>
                <button style="margin-right: 0.5rem; margin-bottom: 0.5rem; cursor: default;" mat-stroked-button>Computer Graphics</button>
            </div>
            <mat-chip-set class="skills">
                <mat-chip>Angular</mat-chip>
                <mat-chip>React</mat-chip>
                <mat-chip>Next</mat-chip>
                <mat-chip>Django</mat-chip>
                <mat-chip>ASP.NET</mat-chip>
                <mat-chip>Spring Boot</mat-chip>
                <mat-chip>REST API</mat-chip>
                <mat-chip>JavaScript</mat-chip>
                <mat-chip>TypeScript</mat-chip>
                <mat-chip>HTML</mat-chip>
                <mat-chip>CSS</mat-chip>
                <mat-chip>Python</mat-chip>
                <mat-chip>C#</mat-chip>
                <mat-chip>C/C++</mat-chip>
                <mat-chip>Java</mat-chip>
                <mat-chip>SQL</mat-chip>
                <mat-chip>Git</mat-chip>
                <mat-chip>TensorFlow</mat-chip>
            </mat-chip-set>
            <mat-chip-set class="skills">
                <mat-chip>Unity</mat-chip>
                <mat-chip>Unreal Engine</mat-chip>
                <mat-chip>Maya</mat-chip>
                <mat-chip>Blender</mat-chip>
                <mat-chip>Photoshop</mat-chip>
            </mat-chip-set>
        </mat-card-content>
    </mat-card>
    <div style="margin: 0.5rem; font-size: small;">
        <span style="font-weight: bold;">EXPERIENCE</span>
    </div>
    <mat-card style="background-color: white; margin-bottom: 2rem">
        <mat-card-content >
            <div style="margin-bottom: 2.5rem;">
                <div style="display: flex; justify-content: space-between;">
                    <div>
                        <div style="font-weight: bold;">Software Engineer</div>
                        <div>BlueSkyTech</div>
                    </div>
                    <div>
                        <div>March 2024 - present</div>
                        <div>(Remote)</div>
                    </div>
                </div>
                <ul>
                    <li>Incorporate frontend stacks including NextJS, Redux Toolkit, TypeScript, and Material UI to build
                        responsive websites that are compatible with multiple devices and web browsers.</li>
                    <li>
                        Implement API calls for streamlined frontend-backend communication    
                    </li>
                </ul>
            </div>
            <div>
                <div style="display: flex; justify-content: space-between;">
                    <div>
                        <div style="font-weight: bold;">Full-Stack Developer</div>
                        <div>University of Utah - Umail</div>
                    </div>
                    <div>
                        <div>November 2021 - June 2024</div>
                        <div>Salt Lake City, Utah</div>
                    </div>
                </div>
                <ul>
                    <li>Automated 100+ tasks with PowerShell scripts that interact with database systems such as SQL Server</li>
                    <li>
                        Worked in a team and individually to troubleshoot problems in migrating 100000+ user mailboxes and 
                        groups within Microsoft Exchange servers.
                    </li>
                    <li>Maintained and updated the internal website using tools like Angular, .Net, Bootstrap, and Graph API.</li>
                </ul>
            </div>
        </mat-card-content>
    </mat-card>
    </mat-card-content>
</mat-card>