<app-top-nav></app-top-nav>
<main>
  <div class="side-nav-extender">
    <button type="button" mat-icon-button (click)="drawer.toggle()">
      <mat-icon style="margin: 0;">menu</mat-icon>
    </button>
  </div>
  <mat-drawer-container class="drawer-container">
    <mat-drawer #drawer class="side-nav-drawer" mode="side">
      <p>Auto-resizing sidenav</p>
      
    </mat-drawer>
    <mat-drawer-content class="main-content">
        <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</main>