.main-section {
    max-width: 80%;
}

mat-drawer-container {
    background-color: red;
    width: 100%;
    overflow: auto;
}

mat-drawer-content {
    background-color: yellow;
}

main {
    display: flex;
    flex-direction: row;
    background-color: aqua;
    height: 93vh;
}