<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Xuyen Nguyen</span>
  <span class="example-spacer"></span>
  <button mat-raised-button>Coding Project</button>
  <button mat-raised-button>3D Arts</button>
  <button mat-raised-button>2D Arts</button>
  <button mat-raised-button>Others</button>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
    
    
</mat-toolbar>