@use '@angular/material' as mat;

.main-content {
    padding: 2rem;
}

.drawer-container {
    background-color: white;;
    width: 100%;
    height: 93vh;
}

.side-nav-extender {
    z-index: 10;
    height: 93vh;
    width: 3rem;
    @include mat.elevation(2);
}

.side-nav-drawer {
    width: 20vw;
    max-width: 15rem;
}

main {
    display: flex;
    flex-direction: row;
}