<app-top-nav></app-top-nav>
<main focusOnNavitation>
  <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="over">
      <p>Auto-resizing sidenav</p>
      
    </mat-drawer>
    <mat-drawer-content>Main Content
      <section class="main-section">
        <div class="example-sidenav-content">
          <button type="button" mat-button (click)="drawer.toggle()">
            Toggle sidenav
          </button>
        </div>
        <router-outlet></router-outlet>
      </section>
    </mat-drawer-content>
  </mat-drawer-container>
  
</main>