@use "@angular/material" as mat;

.main-content {
  padding: 2rem;
  height: fit-content;
  // overflow: auto;
  max-width: 70rem;
  margin: auto;
}

.drawer-container {
  width: 100%;
}

.side-nav-drawer {
  width: 20vw;
  max-width: 15rem;
  height: 100%;
}

main {
  display: flex;
  flex-direction: row;
  // overflow: auto;
  height: calc(100vh - 3.5rem);
}
