mat-card {
  text-align: center;
}

.container-card {
  height: 85vh;
}

.item-card {
  width: 80%;
  height: 80%;
  padding: 5%;
}

.project-card-content {
  overflow: hidden;
}

mat-card-title {
  margin-bottom: 1rem;
}
