<mat-card-header>
    <mat-card-title>{{title}}</mat-card-title>
</mat-card-header>
<mat-divider></mat-divider>
<mat-card-content>
    <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>
            <mat-card appearance="outlined" class="project-card-container">
                <mat-card-subtitle>Typing Practice</mat-card-subtitle>
                <mat-card-content class="project-card-content">1</mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card appearance="outlined" class="project-card-container">
                <mat-card-subtitle>American Sign Language Alphabet Recognition</mat-card-subtitle>
                <mat-card-content class="project-card-content">2</mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card appearance="outlined" class="project-card-container">
                <mat-card-subtitle>Class Schedule Maker</mat-card-subtitle>
                <mat-card-content class="project-card-content">3</mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card appearance="outlined" class="project-card-container">
                <mat-card-subtitle>Typing Practice</mat-card-subtitle>
                <mat-card-content class="project-card-content">4</mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</mat-card-content>