<!-- <div class="docs-component-category-list"></div>
    @for (component of docItems.getItems(section); track component) {
      <a class="docs-component-category-list-item"
         [routerLink]="'/' + section + '/' + component.id">
        <div class="docs-component-category-list-card" matRipple>
          @if (section === 'components') {
            <img class="docs-component-category-list-card-image-wrapper"
                [src]="'../../../assets/screenshots/' + component.id + '.scene.png'"
                loading="lazy"
                alt=""
                role="presentation"
                aria-hidden="true">
          }
          <div class="docs-component-category-list-card-title">{{component.name}}</div>
          <div class="docs-component-category-list-card-summary">{{component.summary}}</div>
        </div>
      </a>
    }
  </div> -->

<mat-card
  style="text-align: center; max-width: 70rem; margin: auto"
  class="container-card"
>
  <mat-card-header>
    <mat-card-title>{{ title }}</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content #cardContentRef class="container-card-content">
    <div class="project-list">
        @for (project of projects; track project) {
            <a
      class="project-list-item"
      href={{project.link}}
      target="_blank" class="project-list-item">
        <div class="project-card">
            
            <div class="project-card-image-wrapper">
                @if (project.imagePath) {
                    <img
              src={{project.imagePath}}
              mat-card-image
              width="100%"
            />
                }
                @else {
                    <app-svg-placeholder-image class="image-place-holder"></app-svg-placeholder-image>
                }
            </div>
              <div
              class="project-card-title"
              >{{project.title}}</div
            >
              <div
              class="project-card-summary"
              >{{project.summary}}</div
            >
        </div>
        
    </a>
        }
      
    
      
    </div>
  </mat-card-content>
</mat-card>
