<mat-card
  class="container-card"
>
  <mat-card-header>
    <mat-card-title>{{ title }}</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content #cardContentRef class="container-card-content">
    <div class="project-list">
      @for (project of projects; track project) {
        <app-link-card
          [title]="project.title"
          [link]="project.link"
          [imagePath]="project.imagePath"
          [summary]="project.summary"
        ></app-link-card>
      }
    </div>
  </mat-card-content>
</mat-card>
