<mat-card>
    <mat-grid-list cols="3">
        <mat-grid-tile>
           <div class="image-card">
            <img style="width: 100%;" mat-card-image src="images\2d-arts\20190510_213117.jpg" />
           </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="image-card">
            <img style="width: 100%;" mat-card-image src="images\2d-arts\20191011_031313.jpg" />
             </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="image-card"> 
            <img style="width: 100%;" mat-card-image src="images\2d-arts\20191011_031604.jpg" />
                
            </div>
            
        </mat-grid-tile>
        <mat-grid-tile> 
            <div class="image-card">
                
                <img style="width: 100%;" mat-card-image src="images\2d-arts\20210714_022552.jpg" />
            </div>
            
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="image-card">
                
                <img style="width: 100%;" mat-card-image src="images\2d-arts\20230108_140402.jpg" />
            </div>
            
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="image-card">
                
                <img style="width: 100%;" mat-card-image src="images\2d-arts\penup_1690585091435712.jpg" />
            </div>
            
            
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="image-card">
            <img style="width: 100%;" mat-card-image src="images\2d-arts\penup_1706318368879502.jpg" />
            
                
            </div>
            
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="image-card">
                
                <img style="width: 100%;" mat-card-image src="images\2d-arts\penup_1706318415146002.jpg" />
            </div>
            
            
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="image-card">
                
                <img style="width: 100%;" mat-card-image src="images\2d-arts\UpRightAngel.png" />
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</mat-card>