<h2
  style="display: flex; justify-content: center; align-items: center"
  mat-dialog-title
>
  {{title || "My drawing"}}
</h2>
<mat-dialog-content>
  @if (downloadPath) {
    <app-three-dee-viewer [path]="downloadPath" [ambientIntensity]="ambientIntensity"></app-three-dee-viewer>
  }
  @else {
    <img style="height: 60vh" [src]="imagePath" />
  }
</mat-dialog-content>
<mat-dialog-actions style="justify-content: center">
  <a
    mat-raised-button
    [href]="downloadPath || imagePath"
    target="_blank"
    [download]="downloadName"
    >Download</a
  >
</mat-dialog-actions>
