<ng-template #github>
  <svg-github-icon></svg-github-icon>
</ng-template>
<ng-template #main>
  <svg-icon></svg-icon>
</ng-template>

<mat-toolbar color="primary" class="top-nav">
  <button routerLink="/" mat-button>
    <app-icon-button
      text="Xuyen Nguyen"
      [svgIconTemplate]="main"
    ></app-icon-button>
  </button>
  <nav>
    <!-- <a mat-button routerLink="others" routerLinkActive="active">Other</a> -->
    @if (!isSmallScreen) {
      
      <a mat-button routerLink="web-app" routerLinkActive="active"><mat-icon>terminal</mat-icon>Web App</a>
      <a mat-button routerLink="artwork" routerLinkActive="active"><mat-icon>brush</mat-icon>Artwork</a>
      <a mat-button href="https://github.com/xuyennguyen2733" target="_blank">
        <app-icon-button
          text="GitHub"
          [svgIconTemplate]="github"
        ></app-icon-button>
      </a>
    } @else {
      <a
        mat-icon-button
        aria-label="My Web Apps"
        routerLink="web-app"
        routerLinkActive="active"
        ><mat-icon>terminal</mat-icon></a
      >
      <a
        mat-icon-button
        aria-label="My artwork"
        routerLink="artwork"
        routerLinkActive="active"
        ><mat-icon>brush</mat-icon></a
      >
      <a
        mat-icon-button
        aria-label="My GitHub"
        href="https://github.com/xuyennguyen2733"
        target="_blank"
      >
        <svg-github-icon></svg-github-icon>
      </a>
    }
    <button mat-icon-button matTooltip="Toggle dark mode" (click)="toggleTheme()">
      @if (getTheme() == 'dark-theme') {
        <span class="material-symbols-outlined">
          dark_mode
        </span>
      }
      @else {
        <span class="material-symbols-outlined">
          light_mode
        </span>
      }
    </button>
  </nav>
</mat-toolbar>
