@use "@angular/material" as mat;

@mixin theme($theme) {
  app-top-nav {
    * {
      color: mat.get-theme-color($theme, primary);
    }
    
    mat-icon {
      color: mat.get-theme-color($theme, primary);
    }
    
    a[mat-button], a[mat-icon-button], button[mat-icon-button] {
      @include mat.elevation(1);
    }

    .top-nav {
      background: mat.get-theme-color($theme, primary-container);

      .active {
        background: rgba(mat.get-theme-color($theme, primary), 0.1);
      }
    }
  }
}
