<mat-toolbar color="primary" class="top-nav">
  <button routerLink="introduction" mat-button>
    <div class="icon-button">
      <div class="icon" style="width: 24px; height: 24px; padding-right: 5px">
        <app-svg-icon></app-svg-icon>
      </div>
      <div class="icon">Xuyen Nguyen</div>
    </div>
  </button>
  <nav>
    <a mat-button routerLink="web-app" routerLinkActive="active">Web App</a>
    <a mat-button routerLink="artwork" routerLinkActive="active">Artwork</a>
    <a mat-button routerLink="others" routerLinkActive="active">Other</a>
  </nav>
</mat-toolbar>
