<ng-template #github>
  <svg-github-icon></svg-github-icon>
</ng-template>
<ng-template #main>
  <svg-icon></svg-icon>
</ng-template>

<mat-toolbar color="primary" class="top-nav">
  <button routerLink="/" mat-button>
    <app-icon-button text="Xuyen Nguyen" [svgIconTemplate]="main"></app-icon-button>
  </button>
  <nav>
    <a mat-button routerLink="web-app" routerLinkActive="active">Web App</a>
    <a mat-button routerLink="artwork" routerLinkActive="active">Artwork</a>
    <a mat-button routerLink="others" routerLinkActive="active">Other</a>
    <a mat-button href="https://github.com/xuyennguyen2733" target="_blank">
      <app-icon-button text="GitHub" [svgIconTemplate]="github"></app-icon-button>
    </a>
  </nav>
</mat-toolbar>
