@use "@angular/material" as mat;

@use "./app/components/top-nav/top-nav-theme.scss";
@use "./app/components/side-bar/side-bar-theme.scss";
@use "./app/components/introduction/introduction-theme.scss";
@use "./app/components/web-app/web-app-theme.scss";
@use "./app/components/artwork/artwork-theme.scss";
@use "./app/utils/link-card/link-card-theme.scss";

// Styles for the docs app that are based on the current theme.
@mixin theme($theme) {
  .drawer-container {
    background: mat.get-theme-color($theme, outline-variant);
  }

  .docs-help-support {
    color: mat.get-theme-color($theme, on-surface);

    a {
      color: mat.get-theme-color($theme, on-surface-variant);
    }
  }
  
  ::-webkit-scrollbar {
    width: 0.5rem;
  }

  ::-webkit-scrollbar-track {
    background-color: rgba(mat.get-theme-color($theme, secondary-container), 0.3);
    border-radius: 1rem;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(mat.get-theme-color($theme, outline-variant),0.7); /* Color of the scrollbar */
    border-radius: 1rem;
    @include mat.elevation(2);
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(mat.get-theme-color($theme, outline-variant),1.0); /* Color of the scrollbar on hover */
  }

  @include top-nav-theme.theme($theme);
  @include side-bar-theme.theme($theme);
  @include introduction-theme.theme($theme);
  @include web-app-theme.theme($theme);
  @include artwork-theme.theme($theme);
  @include link-card-theme.theme($theme);
}
